html {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

.wrap {
  margin: 0;
  background-color: burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.todo--page {
  height: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.todo--list {
  display: block;
  height: 0;
  flex-grow: 1;
  height: 0;
  width: auto;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(201, 231, 231, 0.6);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.todo--box--single {
  width: auto;
  height: auto;
  display: flex;
  padding: 0.5em 0.2em 0.5em 0.2em;
  margin: 0.5em;
  /* border-width: 1px;
  border-style: solid; */
  border-radius: 6px;
  background-color: white;
  background-image: url(../imgs/hisui-1.jpg);
  background-size: auto 3em;
  background-repeat: repeat-y;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.todo--space {
  width: 2.2em;
}

.todo--checked {
  display: flex;
  background-image: url(../imgs/todo-checked.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  margin-top: auto;
  margin-bottom: auto;
}

.todo--nochecked {
  display: flex;
  background-image: url(../imgs/todo-nochecked.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  margin-top: auto;
  margin-bottom: auto;
}

.todo--container--information {
  display: block;
  margin: 0.1em;
  flex-grow: 1;
  width: 70%;
  height: auto;
}

.todo--mainrow {
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 0.1em;
}

.todo--task {
  display: flex;
  font-size: larger;
  padding-left: 0.5em;
}

.todo--subrow {
  display: flex;
  text-align: center;
  width: auto;
}

.todo--property {
  width: 6em;
  height:1.6em;
  text-align: center;
  display: inline;
  padding: auto;
  margin: 0.1em 0.5em;
  background-color: greenyellow;
  border-radius: 8px;
}

.todo--footer {
  display: flex;
}

.todo--input--none {
  display: none;
}

.todo--inputbox--cover {
  /* display: none; */
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(100, 100, 100, 0.8);
  z-index: 100000;

}

.todo--inputbox {
  position: relative;
  background: lightgoldenrodyellow;
  margin: auto;
  width: 250px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  text-align: left; 
}

.button--floating {
  position: absolute;
  display: table-cell;
  bottom: 10px;
  right: 10px;
  box-shadow: 0.1px 2px rgba(0, 0, 0, 0.1);
  background: hsl(180, 80%, 50%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  z-index: 10000;
}