.todo--list {
  width: auto;
  height: 21em;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(201, 231, 231, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.todo--box--single {
  width: auto;
  height: 3.5em;
  display: flex;
  padding: 0.5em 0.2em 0.5em 0.2em;
  margin: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color: aliceblue;
}

.todo--mainrow {
  width: auto;
  height: auto;
  margin-bottom: 0.1em;
}

.todo--task {
  font-size: larger;
  padding-left: 0.5em;
}

.todo--subrow {
  display: flex;
  width: auto;
}

.todo--property {
  width: 6em;
  height:1.6em;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  margin: 0.1em 0.5em;
  background-color: greenyellow;
  border-radius: 6px;
}

.todo--input--none {
  display: none;
}

.todo--inputbox--cover {
  /* display: none; */
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(100, 100, 100, 0.8);
  z-index: 100000;

}

.todo--inputbox {
  position: relative;
  background: lightgoldenrodyellow;
  margin: auto;
  width: 250px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  text-align: left; 
}

.todo--checked {
  background-image: url(../imgs/todo-checked.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.todo--nochecked {
  background-image: url(../imgs/todo-nochecked.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.image-fish {
  background-image: url(../imgs/fish_maguro2.png);
  background-repeat: no-repeat;
  width: auto;
  height: 400px;
}

.button--floating {
  position: absolute;
  display: table-cell;
  bottom: 10px;
  right: 10px;
  box-shadow: 0.1px 2px rgba(0, 0, 0, 0.1);
  background: hsl(180, 80%, 50%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  z-index: 10000;
}